* {
    margin: 0;
}

/*Remove arrows from number inputs in Chrome, Safari, Edge and Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Remove arrows from number inputs in Firefox*/
input[type=number] {
    appearance: textfield;
}

#addplayer {
    font-size: 20px;
    color: #fff;
    background: #0f7;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

body {
    color: #fff;
    background: #000;
}

#buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 10px;
}

.column {
    margin-right: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.game {
    margin-left: 4px;
}

#generate-button {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background: rgb(255, 255, 0);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}


header {
    margin-bottom: 100px;
}

.header {
    text-align: center;
}

#main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#player-info {
    display: flex;
    flex-flow: row nowrap;
}

.player-info {
    margin-bottom: 5px;
}

#players {
    display: flex;
    flex-flow: column nowrap;
}

.remove-button {
    font-weight: bold;
    color: #fff;
    background: #f00;
    border: 0;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
}

#remove-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}